/* Estilos para el preload o loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilos para la animación del preload (opcional) */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #333;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animación de giro */
}
.tituloLogo {
  font-family: "Lobster", cursive;
  color: gold;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Potta One", cursive; */
}

@-moz-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/* Elemento Left */
.elemento_left {
  width: 100%;
  max-width: 300px;
  min-height: 400px;
  margin: 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.elemento__image_left {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background: #d8d8d8;
  overflow: hidden;
}

.elemento__image_left_h1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  background: #d8d8d8;
  overflow: hidden;
  margin-bottom: 20px;
}

.elemento__image_left_p {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background: #d8d8d8;
  overflow: hidden;
}

/* Animación: Efecto de arrastre hacia el lado derecho que instancia a la animación que más abajo explicamos */
.elemento__image_left:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

.elemento__image_left_h1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

.elemento__image_left_p:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

.elemento__image_left img {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.elemento__content_left {
  padding: 20px;
}
.elemento__heading_left {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
}
.elemento__heading_left:empty {
  width: 100%;
  height: 35px;
  background: #d8d8d8;
  margin-bottom: 20px;
}
.elemento__paragraph_left {
  margin: 0;
  font-size: 20px;
  line-height: 1.35;
}
.elemento__paragraph_left:empty {
  width: 90%;
  height: 20px;
  background: #d8d8d8;
}

.elemento__image_left:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}
